##############################################################
#                     NODE MODULES FOLDER                    #
##############################################################
node_modules/

##############################################################
#                  ENVIRONMENT VARIABLES                     #
##############################################################
.env

